@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");

body {
  background: #f7f7f9;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

.prjct-lg.rb {
  display: none;
}

.navbar {
  background: #ffff;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
}

.container {
  display: flex;
  place-content: space-between;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;

  /* identical to box height, or 111% */
  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */
  color: #6070ff;
}

.nav-menu {
  display: none;
}

.hero {
  background-image:
    url("img/header-shapes-mobile.png"),
    url("img/header-background-mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 100% 100%;
  padding-top: 114px;
  padding-bottom: 114px;
  padding-left: 24px;
  padding-right: 24px;
}

.about-section {
  background-image: url("img/base-about-my-self.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 114px;
  padding-top: 114px;
  padding-bottom: 114px;
  padding-left: 24px;
  padding-right: 24px;
}

.fsthead {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
}

.intro {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.cnt-txt {
  margin-top: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.ic-container {
  display: flex;
  margin-top: 12px;
  padding-left: 0;
  justify-content: flex-start;
  gap: 20px;
}

.ic-social-media {
  display: block;
  max-width: 20px;
  max-height: 20px;
  width: auto;
  height: auto;
}

.grid-project {
  display: grid;
  grid-template-columns: auto;
}

.project-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  background-color: #ffff;
  border: 1px solid #dfe1e6;
  margin-top: 114px;
  margin-left: 14px;
  margin-right: 14px;
  padding: 16px 16px;
  text-align: center;
}

.img-1-container > img {
  width: 100%;
  height: 100%;
}

.dot-container {
  display: flex;
  justify-content: center;
}

.dot {
  margin: auto;
}

.prjct {
  text-align: left;
}

.left {
  margin: 12px auto auto 0;
  font-weight: 700;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
}

.grid-container {
  display: grid;
  align-content: center;
  column-gap: 5px;
  width: 75%;
  height: 32px;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
}

.prjct-name {
  font-family: Poppins, sans-serif;
  text-align: center;
  vertical-align: middle;
  color: #344563;
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
}

.prjct-role {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #7a869a;
  font-size: 13px;
}

.prjct-year {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #7a869a;
  font-size: 13px;
}

.prjct-descr {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
}

.prjct-lg {
  background: #ebebff;
  border-radius: 8px;
  display: block;
  color: #6070ff;
  padding: 4px 12px;
}

.container-lg {
  display: flex;
  margin-top: 12px;
  padding-left: 0;
  justify-content: flex-start;
  gap: 20px;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.see-project {
  border-color: #6070ff;
  border-radius: 10px;
  color: #6070ff;
}

.see-project:hover {
  background-color: #6070ff;
  color: white;
  transition: all 0.5s ease-out;
}

.btn-container {
  text-align: left;
  border-radius: 8px;
  border: none;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}

.lg {
  margin-top: 48px;
}

.txt-lg {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.arrow {
  width: 14px;
  height: 8px;
  margin: auto;
}

.lg-lst-main-container {
  margin-top: 24px;
  padding: 12px;
}

.lg-lst-container {
  display: flex;
  padding: 9px 12px;
  margin-bottom: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
}

.txt-lst-lg {
  margin-left: 16px;
  color: #253858;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.arrow-right {
  width: 8px;
  height: 14px;
  margin: auto;
}

.container-form {
  display: flex;
  row-gap: 18px;
  width: 90%;
  flex-direction: column;
}

.text-area {
  font-family: Poppins, sans-serif;
  width: 100%;
  height: 20px;
  padding: 12px 20px;
  border: 1px solid #cfd8dc;
  background: #fff;
  background-color: #f8f8f8;
  border-radius: 8px;
  resize: none;
}

.text-area:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ece;
  border: 1px solid #cfd8dc;
}

.text-area::placeholder {
  font-family: Poppins, sans-serif;
}

.large {
  height: 80px;
}

.txt-ctct-me {
  font-size: 40px;
  color: #fff;
  text-align: center;
}

.ctct-me {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #ebebff;
  text-align: center;
}

.get-touch {
  border-color: #6070ff;
  border-radius: 10px;
  color: #6070ff;
}

.get-touch:hover {
  background-color: #7884f0;
  color: #fff;
  transition: all 0.5s ease-out;
}

hr {
  margin-top: 23px;
  height: 1px;
  border-width: 0;
  color: #dfe1e6;
  background-color: #dfe1e6;
}

.container-arrow-right {
  display: flex;
  justify-content: center;
}

.contact {
  background-image:
    url("img/header-shapes-mobile.png"),
    url("img/contact_me.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 100% 100%;
  padding-top: 114px;
  padding-bottom: 114px;
  padding-left: 24px;
  padding-right: 24px;
}

.contact-btn {
  width: 140px;
  height: 48px;
  padding: 12px 16px;
}

.contact-btn:hover {
  background-color: #97a1f5;
  color: white;
  transition: all 0.5s ease-out;
}

@media screen and (min-width: 992px) {
  .fsthead {
    margin: 0 260px 0 142px;
  }

  .intro {
    margin: 12px 142px 0 142px;
  }

  .cnt-txt {
    margin: 12px 0 0 142px;
  }

  .ic-container {
    margin: 25px 0 0 142px;
  }

  .union-img {
    display: none;
  }

  .nav-menu {
    display: flex;
    gap: 32px;
  }

  .nav-menu > li > a {
    color: #344563;
    text-decoration: none;
  }

  .project-container-1 {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .img-1-container {
    width: auto;
    height: 100%;
  }

  .ct2 {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .prjt-info {
    margin-left: 20px;
    margin-right: 20px;
  }

  .grid-container {
    width: 50%;
  }

  .about-section {
    display: flex;
    flex-direction: row;
  }

  .lft-container {
    width: 50%;
  }

  .btn-container {
    margin: 12px 0 0 0;
  }

  .rgt-container {
    width: 50%;
    margin-left: 10px;
    margin-right: 100px;
  }

  .lg {
    margin-top: 0;
  }

  .lg-lst-main-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .lg-lst-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .lg-lst-main-container > li {
    width: 33%;
  }

  .txt-lst-lg {
    margin-left: 0;
  }

  .container-contact {
    margin: 142px 250px;
  }

  .contact-btn {
    margin: 36px 0 0 36%;
  }

  .see-project {
    margin: 12px 0 0 0;
  }

  .see-me {
    margin: 12px 0 0 142px;
  }

  .project-container-1:hover {
    border: 1px solid #a7aeff;
    box-shadow: 4px 2px 10px rgb(214, 214, 214);
  }
}
