@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  background: #E5E5E5;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

.navbar {
  background: #ffff;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
}

.container {
  display: flex;
  place-content: space-between;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;

  /* identical to box height, or 111% */
  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */
  color: #6070ff;
}

.hero {
  background-image: url("img/header-shapes-mobile.png"), url("img/header-background-mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 100% 100%; 
  padding-top: 114px;
  padding-bottom: 114px;
  padding-left: 24px;
  padding-right: 24px;
}

.fsthead {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
}

.intro {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.cnt-txt {
  margin-top: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.ic-container {
  display: flex;
  margin-top: 12px;
  justify-content: flex-start;
  gap: 20px;
}

.ic-social-media {
  display: block;
  max-width: 20px;
  max-height: 20px;
  width: auto;
  height: auto;
}
